.container {
  text-align: center;
}

///////////////HTML ELEMENTS///////////////////////////////////

form {
  margin: 2%;
}

body {
  background: linear-gradient(to bottom, #4DBA99, #212A55 100%);
  background-attachment: fixed;
}
