doctype html
html 
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='css/style.css' type='text/css')
    title Ng Todos
  
  body(ng-app='tasks')
    .container(ng-controller='TasksCtrl')
      
      form.form-inline
        input.form-control(type='text' ng-model='task' placeholder='some awesome task')
        button.btn.btn-primary(ng-click='addTask()') Add task
        
      table.table
        tbody
          tr(ng-repeat='project in projects')
            td
              input(type='checkbox' ng-checked='{{project.complete}}')          
            td {{project.todo}}            
            td
              button.btn.btn-danger(ng-click='removeTask(project)') X
    
    script(type='text/javascript' src='vendor/jquery.js')
    script(type='text/javascript' src='vendor/lodash.min.js')
    script(type='text/javascript' src='vendor/firebase.js')
    script(type='text/javascript' src='vendor/angular.min.js')
    script(type='text/javascript' src='scripts/main.js')
